ul{ 
    margin: 0;
    padding: 0;
}
header{
    padding: 20px;
}
header a{
    color: black;
    text-decoration:none ;
    text-transform: uppercase;
    font-size: 14px;
}
header li{
    display: inline-flex;
    justify-content: left;
    padding: 0 20px 0 20px  ;
}
header nav{
    display: flex;
    justify-content: right;

}
body {

    --bg-color-light: #ffffff;
    --text-color-light: #000000;
    --bg-color-dark: #333333;
    --text-color-dark: #ffffff;
    
    background-color: var(--bg-color-light);
    color: var(--text-color-light);
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 100%;
    margin: 0;
    padding: 0;

}
body.dark-mode {
    background-color: var(--bg-color-dark);
    color: var(--text-color-dark);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.column {
    flex: 0 0 35%; /* Adjust the width of columns as needed */
    margin: 10px;
    text-align: center;

}

.column img {
    max-width: 250px;
}

.column p {
    font-size: 14px; /* Adjust the font size of text as needed */
}
.Experience{
    
    justify-content: space-between;
    
}

.left-section, .middle-section, .right-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;

} 

.left-section{
    justify-content: left;
}
.right-section{
    justify-content: right;
}

/* Media query for screens smaller than 600 pixels */
@media screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }

    header li {
        display: block; /* Stack navigation links vertically on smaller screens */
        padding: 10px 0;
        text-align: center;
    }

    header nav {
        justify-content: right; /* Center navigation on smaller screens */
    }
}
